# examples: https://github.com/honza/vim-snippets/blob/master/snippets/c.snippets

# print log
snippet fcd_log
    printf(LOG_ERROR, "@@@=== %s $1", __func__, $0);
    printf(LOG_ERROR, "@@@=== %s $1", __func__, $0);

snippet fcd_trk
    printf(LOG_ERROR, "@@@=== %s $1", __func__, $0);
